@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px #949494 solid;*/
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

h1 {
  color: #1f3c88;
}